<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfileError" xsi:type="File" fileName="C:\Temp\${shortdate}_error.txt" />
    <target name="logfileInfo" xsi:type="File" fileName="C:\Temp\${shortdate}_info.txt" />
  </targets>

  <rules>
    <logger name="*" level="Error" writeTo="logfileError" />
    <logger name="*" level="Info" writeTo="logfileInfo" />
  </rules>
</nlog>